<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminPanel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Admin Panel</h1>

  <div id="admin_panel">
    <table>
      <tr>
        <th scope="col"><input type="checkbox" v-bind:checked="checkedUsers.length !== 0" v-on:click="toggleAll"></th>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Enabled</th>
        <th scope="col">Password (hashed)</th>
      </tr>
      <tr v-for="user in users">
        <td><input type="checkbox" v-bind:value="user.id" v-model="checkedUsers" v-on:click="checkboxClicked"></td>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.enabled === 1 ? "True" : "False" }}</td>
        <td class="password">{{ user.password }}</td>
      </tr>
    </table>

    <button type="submit" v-bind:disabled="checkedUsers.length === 0" v-on:click="setEnabled(0)">Disable</button>
    <button type="submit" v-bind:disabled="checkedUsers.length === 0" v-on:click="setEnabled(1)">Enable</button>
    <br>
    <br>

    <form method="post" action="/logout">
      <button type="submit">Log out</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/adminPanel.js"></script>
  <script src="/javascripts/common.js"></script>
</body>

</html>