body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 30px;
    margin: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
}

/******* LOGIN SCREEN ******/

.login {
    text-align: center;
    background-color: #eaeaea;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 7px;
}

.login input {
    padding: 5px;
    margin-bottom: 15px;
}

/****** ADMIN PANEL ******/

#admin_panel table {
    padding-bottom: 15px;
    width: 600px;
    text-align: center;
}

/* color every second row */
#admin_panel tr:nth-child(even) {
    background-color: #f2f2f2;
}

#admin_panel td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#admin_panel th {
    padding-top: 10px;
    padding-bottom: 10px;
}
